
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top: 0;
    left:0;
    right: 0;
    background-color: white;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(228, 228, 228);
    z-index: 1000;

}
.left-section{
    display: flex;
    align-items: center;
    margin-right: 70px;

}
.hamburger-menu{
    height: 25px;
    margin-left: 24px;
    margin-right: 24px;
    
}
.youtube-logo{
    height: 20px;
    position: relative;
    
}
.youtube-logo-container .tooltip{
    font-family:Roboto,Arial ;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
    white-space: nowrap;
}
.youtube-logo-container:hover .tooltip{
    opacity: 1;
}
.middle-section{
   
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    
}
.search{
    width: 0;
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 3px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}
.search-icon{
    height: 26px;
    vertical-align: middle;
    
}
.search-button{
    height: 39px;
    width: 66px;
    background-color: rgb(240 240 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    
}
.search-button,
.voice-search-button,
.header-container,
.notification-container{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.header-container .tooltip,
.notification-container .tooltip{
    font-family:Roboto,Arial ;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -40px;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
    white-space: nowrap;

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.header-container:hover .tooltip,
.notification-container:hover .tooltip{
    opacity: 1;
    cursor: pointer;
}
.voice-search-icon{
    vertical-align: middle;
    height: 24px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(239, 239, 239);

}

.right-section{
   
    width:200px;
    margin-left:35px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload{
    height: 27px;
}
.youtube-apps{
    height: 27px;
}
.notification{
    height: 27px;
}
.my-channel{
    height: 27px;
    border-radius: 20px;
}
.notification-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -2px;
    right:-2px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    font-family: Roboto, Arial;
    border-radius:10px;
    padding-left:5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}


