.sidebar{
    
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 70px;
    z-index: 200;
    padding-top: 5px;
    background-color: white;
}
.sidebar-icons{
   
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    height: 74px;
    
    
}
.sidebar-icons img{
    height: 24px;
    margin-bottom: 5px;
}
.sidebar-icons div{
    font-family:Roboto, Arial ;
    font-size: 10px;
}
.sidebar-icons:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

@media (min-width:1200.1px){
    .sidebar{
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        width: 240px;
        padding-top: 13px;
        background-color: white;
        

        
    }
    .sidebar-icons{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 30px;
        height: 50px;
        
    }
    .sidebar-icons:hover{
        background-color: rgb(231, 231, 231);
        cursor: pointer;
    }
    .sidebar-icons img{
        height: 28px;
        margin-right: 25px;
       
    }
    .sidebar-icons div{
        font-family:Roboto, Arial ;
        font-size: 17px;
    }

}

